<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.x2plastic.gup"
        version = "1.0">
    <name>Bulletin</name>

    <description>List of phone numbers and emails for GrowthUP BA members</description>

    <author href="http://opryshok.biz.ua" email="opryshok@gmail.com">
        Bulletin
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />
	
	<access origin="*" />

    <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="handset" />
    <preference name="fullscreen" value="false" />
	<preference name="webviewbounce" value="false" />
	<preference name="prerendered-icon" value="true" />

    <icon src="icon.png" />
    <icon src="app-assets/android-app-icon-96.png" gap:platform="android" gap:density="xhdpi" />
    <!-- <icon src="app-assets/android-app-icon-48.png" gap:platform="android" gap:density="mdpi" />
	
    <icon src="app-assets/ios-app-icon-57.png" gap:platform="ios" width="57" height="57" />
    <icon src="app-assets/ios-app-icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="app-assets/ios-app-icon-114.png" gap:platform="ios" width="114" height="114" />
    <icon src="app-assets/ios-app-icon-144" gap:platform="ios" width="144" height="144" /> -->

<!--    <gap:splash src="res/screen/android/screen-ldpi-portrait.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png" gap:platform="android" gap:density="hdpi" /> -->
    <gap:splash src="app-assets/growthup-app-splash-android-xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	
   <!-- <gap:splash src="app-assets/modnoe-mesto-app-splash-iphone.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="app-assets/modnoe-mesto-app-splash-iphone-2x.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="app-assets/modnoe-mesto-app-splash-iphone5.png" gap:platform="ios" width="640" height="1136" />-->
	
	
</widget>