<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.x2plastic.gup"
        version = "1.0">
    <name>Bulletin</name>
    <description>A Short Newsletter</description>
    <author href="http://opryshok.biz.ua" email="opryshok@gmail.com">
        Bulletin
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />
	
	<access origin="*" />

    <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="handset" />
    <preference name="fullscreen" value="false" />
	<preference name="webviewbounce" value="false" />
	<preference name="prerendered-icon" value="true" />

    <icon src="icon.png" />
	
</widget>